<% layout("layout") -%>
<div class="jumbotron text-center">
    <a href="/login" class="btn btn-default">Login</a>
    <a href="/register" class="btn btn-default">Register</a>
    <a href="/facebook" class="btn btn-default btn-primary">Facebook</a>
</div>